<header>
	<h3>Journal</h3>
</header>
<main>	
	<div class="drop-area-container">
		<div class="md-nav-list-container center transaction-type-list">
			<md-nav-list class="horizontal">
				<md-list-item *ngFor="let transactionType of transactionTypesStream | async"
				draggable="true"
				(dragstart)="dragStart($event, account, transactionPlayer.RECEIVER)">
					<h4 md-line>{{ transactionType.$value }}</h4>
				</md-list-item>
			</md-nav-list>
		</div>
		<div class="drop-area box-shadow-2" 
			(dragover)="dragOver($event)" 
			(drop)="drop($event)">
			<div class="dropped-accounts">				
				<!--<p>{{ journal.debitAccount.name }}
					<span *ngIf="journal.giverAccount.name != '' || journal.receiverAccount.name != '' ">&nbsp;&nbsp;&nbsp;&nbsp;----</span>
					<span class="transaction-amount">{{ journal.transactionAmount }}</span>
					<span *ngIf="journal.giverAccount.name != '' || journal.receiverAccount.name != '' ">----&gt;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					{{ journal.creditAccount.name }}
				</p>-->
			</div>
			<div class="transaction-amount-input-container">
				<md-grid-list rows="4" cols="3">
					<md-grid-tile><button md-button (click)="updateTransactionAmount('1')">1</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('2')">2</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('3')">3</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('4')">4</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('5')">5</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('6')">6</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('7')">7</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('8')">8</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('9')">9</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('C')">C</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('0')">0</button></md-grid-tile>
					<md-grid-tile><button md-button (click)="updateTransactionAmount('D')">&lt;-</button></md-grid-tile>
				</md-grid-list>
			</div>
			<button class="add-journal-button" md-fab (click)="addJournal()"><md-icon>add</md-icon></button>
		</div>
	</div>
	<div class="account-container">
		<div class="md-nav-list-container">
			<header>				
				<div class="search-box">
					<md-icon md-prefix>search</md-icon>
					<input placeholder="Account" (input)="searchAccounts($event.target.value)">
				</div>
			</header>
			<!--<md-divider></md-divider>-->
			<md-nav-list class="scrollable">
				<md-list-item *ngFor="let account of accounts"
				draggable="true"
				(dragstart)="dragStart($event, account, transactionPlayer.RECEIVER)"
				[@listItemAnimation]="listItemState">
					<md-icon md-list-icon>assignment</md-icon>
					<h4 md-line class="title">{{account.name}}</h4>
					<i md-line class="description">{{account.name}} account</i>
					<md-divider></md-divider>
				</md-list-item>
			</md-nav-list>
		</div>
	</div>
</main>