header form {
    position: relative;
    padding-top: 23px;
    padding-bottom: 13px;
    min-width: 700px; width: 100%;
    background-color: #67b0d1 !important;
}

main {
    flex-grow: 1;
    padding: 30px;
}

app-jam-list-container md-nav-list md-icon {
    width: 80px;
}

app-jam-list-container md-nav-list .table-cell {
    width: 25%;
}

app-jam-list-container md-nav-list /deep/ .mat-list-item-content {
    padding: 0px 30px !important;
}
