main {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    width: 1000px;
    margin: 0 auto;
}

.drop-area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: 50px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: rgb(100, 150, 200);
}

.dropped-accounts {
    padding-top: 60px;
    color: lightcyan;
    font-size: 0.8em;    
}

.transaction-amount-input-container {
    color: rgb(100, 150, 200);
    margin-top: 10px;
}

.transaction-amount-input-container md-grid-list {
    width: 80px;
}

.transaction-amount-input-container md-grid-tile {
    background-color: lightskyblue;
    border: 1px solid rgb(100, 150, 200);
}

.transaction-amount-input-container md-grid-list button {
    font-size: 0.6em;
}

.add-journal-button {
    /*position: absolute;
    right: 20px;
    bottom: 20px;*/
    margin-top: 20px;
    color: white;
}

.account-container .md-nav-list-container > md-nav-list {
    min-width: 200px;
    height: 300px;
}