<div class="flex-vertical">
	<header class="flex-vertical flex-space-around-center">	
		<form class="floating-box flex-space-around-center invert-color stretch-with-min" [formGroup]="form" novalidate (ngSubmit)="submitForm()">
			<div>
				<md-input-container>
					<input mdInput placeholder="Transaction Type" formControlName="transactionType" (input)="updatePreview('transactionType')">
				</md-input-container>
				<md-autocomplete #transactionTypeList="mdAutocomplete" (change)="updatePreview('transactionType')">
					<md-option *ngFor="let transactionType of transactionTypes" [value]="transactionType.$value">
						{{transactionType.$value}}
					</md-option>
				</md-autocomplete>
			</div>
			<div>
				<md-input-container>
					<input mdInput placeholder="Account" formControlName="account" (input)="updatePreview('account')">
				</md-input-container>
				<md-autocomplete #accountList="mdAutocomplete">
					<md-option *ngFor="let account of accounts" [value]="account.name">
						{{account.name}}
					</md-option>
				</md-autocomplete>
			</div>
			<div>
				<md-input-container>
					<input mdInput placeholder="Amount" type="number" formControlName="transactionAmount" (input)="updatePreview('transactionAmount')">
				</md-input-container>			
			</div>
			<button md-fab class="create-button">
				<md-icon> keyboard_arrow_down </md-icon>
			</button>
		</form>
	</header>
	<main class="flex-space-around">
		<app-jam-list-container class="floating-box stretch-with-min-max" (search)="search($event.value)">
			<div list>
				<md-nav-list>
					<md-list-item *ngFor="let journal of journalStream | async"
					[@listItemAnimation]="listItemState">
						<md-icon md-list-icon>assignment</md-icon>
						<div class="table-cell"> {{ journal.transactionDate }} </div>
						<div class="table-cell"> {{ journal.debitAccount.name }} </div>
						<div class="table-cell"> {{ journal.creditAccount.name }} </div>
						<div class="table-cell"> {{ journal.transactionAmount }} </div>
					</md-list-item>
				</md-nav-list>
			</div>
		</app-jam-list-container>
	</main>
</div>