<div class="wrapper">

	<header>
		<div class="product-search-bar-container">
			<div class="product-search-bar-pad"></div>
			<div class="product-search-bar">
				<app-product-search-bar (search)="search($event)"></app-product-search-bar>
			</div>
			<div class="product-search-bar-pad"></div>
		</div>
		<nav class="scrollable">
				<div class="tag-container" *ngFor="let tag of tagStream | async">
					<a md-button><div class="tag"> {{ tag?.name }} </div></a>
				</div>
		</nav>
	</header>

	<md-grid-list class="product-grid"
		cols="10"
		rowHeight="240px">
		<md-grid-tile *ngFor="let product of productList; let i = index;">

			<section class="product-box floating-box"
				(click)="select(product)">

				<header>
					<div class="title"> {{ product.name }} </div>
				</header>

				<main>
					<div class="thumbnail-wrapper">
						<img class="thumbnail" [src]="product.picture.thumbnail" [alt]="product.picture.name" /> 
					</div>
				</main>

				<footer>			
					<div class="price"> ₹ {{ product.price ? product.price : 'N/A' }} </div>
					<div class="buy">
						<button md-button> ADD TO CART </button>
					</div>
				</footer>

			</section>

		</md-grid-tile>
	</md-grid-list>
	
</div>