<div class="wrapper">

	<header>
		<div class="product-search-bar-container">
			<div class="product-search-bar-pad"></div>
			<div class="product-search-bar">
				<app-product-search-bar (search)="search($event)"></app-product-search-bar>
			</div>
			<div class="product-search-bar-pad"></div>
		</div>
		<nav class="scrollable">
				<div class="tag-container" *ngFor="let tag of tagStream | async">
					<a md-button><div class="tag"> {{ tag?.name }} </div></a>
				</div>
		</nav>
	</header>

	<main id="product-grid-container" class="horizontal scrollable"
		(mousewheel)="scrollme( $event )">
		<md-grid-list class="product-grid"
			[cols]="grid.cols"
			rowHeight="220px"
			[style.width]="grid.width + 'px'">
			<md-grid-tile *ngFor="let tile of grid.tiles"
				[rowspan]="tile.height"
				[colspan]="tile.width">

				<section class="product-box floating-box"
					(click)="select( tile.data )">
					<!-- [style.backgroundColor]="'rgb(' + tile.color.r + ', ' + tile.color.g + ', ' + tile.color.b + ')'"> -->

					<header>
						<div class="title"> {{ tile.data.name }} </div>
					</header>

					<main>
						<div class="thumbnail-wrapper">
							<img class="thumbnail" [src]="tile.data.picture.frontView" [alt]="tile.data.picture.name" /> 
						</div>
					</main>

					<footer>			
						<div class="price"> ₹ {{ tile.data.price ? tile.data.price : 'N/A' }} </div>
						<div class="buy">
							<button md-button> ADD TO CART </button>
						</div>
					</footer>

				</section>

			</md-grid-tile>
		</md-grid-list>
	</main>
	
</div>