<div class="wrapper">
    <aside>
        <nav>
            <a  md-button
                *ngFor="let navigationItem of navigationList"
                id="{{ navigationItem.iconName }}"
                [routerLink]="[navigationItem.url]"
                [style.backgroundColor]="navigationItem.selected ? 'black' : 'lightslategray'">
                <md-icon> {{ navigationItem.iconName }} </md-icon>
                <span> {{ navigationItem.title }} </span>
            </a>
            <a  md-button
                (click)="authService.logout()">
                <md-icon> accessibility </md-icon>
                <span> Logout </span>
            </a>
        </nav>    
    </aside>
	<main>
		<router-outlet></router-outlet>
	</main>
</div>