<div class="wrapper">
	<div class="floating-box cart-box">
		<header>
			<div class="title-container">
				<div class="title"> Cart </div>
				<div class="item-count"> ( {{ cart.itemCount }} items ) </div>
			</div>
			<div class="checkout-button-container">
				<button md-button class="checkout-button" (click)="checkout()"> CHECKOUT </button>
			</div>
		</header>
		<main>
			<ul class="plain scrollable">
				<li *ngFor="let cartItem of cart?.items; let i = index"
					class="cart-item plain"
					(mouseenter)="hoveredIndex = i"
					(mouseleave)="hoveredIndex = -1">
					<section class="units-container"
							[style.transform]="i == hoveredIndex ? 'scale(1.2)' : 'scale(1)'">
						<button md-button 
							class="decrease units-button compact small-button"
							(click)="updateUnits(cartItem, -1)"
							[style.opacity]="i == hoveredIndex ? 1 : 0"> - </button>
						<div class="units">
							{{ cartItem.units ? cartItem.units : 0 }}
						</div>
						<button md-button 
							class="increase units-button compact small-button"
							(click)="updateUnits(cartItem, 1)"
							[style.opacity]="i == hoveredIndex ? 1 : 0"> + </button>
					</section>
					<section class="product">
						<div class="name"> {{ cartItem.product?.name }} </div>
						<div class="price"> ₹ {{ cartItem.product?.price }} </div>
					</section>
					<section class="amount"> ₹ {{ cartItem.amount ? cartItem.amount : 0 }} </section>
					<div class="remove-button-container"
						[style.opacity]="i == hoveredIndex ? 1 : 0">
						<button md-button
							class="remove-button compact no-focus"
							(click)="remove(cartItem)"> <md-icon> delete </md-icon> </button> 
					</div>
				</li>
			</ul>
		</main>
		<footer>
			<div class="total"> ₹ {{ cart?.total }} </div>
		</footer>
	</div>
</div>