<div id="container" class="flex-center-center" (click)="deselect($event); $event.stopImmediatePropagation();">
	<form [formGroup]="form" novalidate
		[style.transform]="formVisible1 ? 'translateX(-5px)' : 'translateX(175px)'"
		[style.visibility]="formVisible1 ? 'visible' : 'hidden'"
		[style.opacity]="formVisible1 ? '1' : '0'"
		class="floating-box"
		(ngSubmit)="submitForm()">
		<md-card class="invert-color">
			<md-card-header>
				<md-card-title> {{ selectedItem.$key }} </md-card-title>
				<md-card-subtitle> {{ selectedItem.price }} </md-card-subtitle>				
				<button md-button type="button" (click)="toggleMode()">
					<md-icon> edit </md-icon>
				</button>
			</md-card-header>
			<md-card-content>
				<div class="selected-item-thumbnail-wrapper">
					<img src="https://firebasestorage.googleapis.com/v0/b/nimi-nimi.appspot.com/o/thumbnails%2Fproducts%2FBLIV235.jpeg?alt=media&token=7f7bbd07-7f71-4006-88a3-e8058d08d47f">
				</div>
				<div class="selected-item-price-units">
					<div class="selected-item-price"> {{ selectedItem.price }} </div>
					<div class="selected-item-units"> {{ selectedItem.units }} </div>
				</div>
				<!--<p><md-input-container>
					<input mdInput placeholder="Id" formControlName="key">
				</md-input-container></p>
				<p><md-input-container>
					<input mdInput placeholder="Units" type="number" formControlName="units">
				</md-input-container></p>
				<p><md-input-container>
					<input mdInput placeholder="Price" type="number" formControlName="price">
				</md-input-container></p>			-->
			</md-card-content>
			<md-card-footer>
				<button md-button type="submit" class="save-button"> SAVE </button>
			</md-card-footer>
		</md-card>
	</form>
	<jam-list class="floating-box stretch-with-max"
		[stream]="inventoryStream"
		[iconName]="'assignment'">
		<template let-item="item">
			<div class="list-item-container">
				<div class="item-key"> {{ item.$key }} </div>
				<div class="item-units"> {{ item.units }} </div>
				<div class="item-price"> {{ item.price }} </div>
			</div>
		</template>
	</jam-list>
	<app-jam-list-container class="floating-box stretch-with-max" style="display: none"
		(search)="search($event.value)"
		(newItem)="newItem(); $event.stopImmediatePropagation();"
		[style.transform]="formVisible1 ? 'translateX(5px)' : 'translateX(-175px)'">
		<div list>
			<md-nav-list>
				<md-list-item *ngFor="let item of inventoryStream | async; let i = index"
				(click)="select(item, i); $event.stopImmediatePropagation();"
				[@listItemAnimation]="listItemState"
				[style.backgroundColor]="i == selectedIndex ? 'cornflowerblue' : 'transparent'"
				[style.color]="i == selectedIndex ? 'white' : 'black'">
					<md-icon id="item-icon" md-list-icon> assignment </md-icon>
					<section id="item-data-container">
						<div id="item-key"> {{ item.$key }} </div>
						<div id="item-units"> {{ item.units }} </div>
						<div id="item-price"> {{ item.price }} </div>
					</section>
					<button id="delete-button" md-button (click)="delete(item); $event.stopImmediatePropagation();"><md-icon> delete </md-icon></button>
				</md-list-item>
			</md-nav-list>
		</div>
	</app-jam-list-container>
</div>