#container {
    box-sizing: border-box;
    padding: 3% 0px;
    height: 100%;
    position: relative;
}

jam-list {
    width: 350px;
    height: 100%;
    transition: all 0.5s ease-in-out;    
}

app-jam-list-container {
    width: 350px;
    height: 100%;
    transition: all 0.5s ease-in-out;
}


app-jam-list-container md-nav-list md-list-item div {
    font-size: 0.7em;
}

app-jam-list-container md-nav-list /deep/ .mat-list-item-content {
    padding: 0px !important;
}


app-jam-list-container md-list-item {
    padding: 0px;
}

#item-icon {
    font-size: 20px;
    padding: 8px 30px 4px 30px;
    transition: all 0.5s ease-in-out;
}

#item-data-container {
    flex-grow: 1;
    display: flex;
    padding-right: 30px;
    transition: all 0.5s ease-in-out;
}

#item-key {
    width: 75%;
}

#item-units {
    width: 12.5%;
}

#item-price {
    width: 12.5%;
}

.list-item-container {
    flex-grow: 1;
    display: flex;
    padding-right: 30px;
    transition: all 0.5s ease-in-out;
}

.item-key {
    width: 75%;
}

.item-units {
    width: 12.5%;
}

.item-price {
    width: 12.5%;
}

/*app-jam-list-container /deep/ .mat-list-item-content:hover #item-icon {
    margin-left: -50px;
}

app-jam-list-container /deep/ .mat-list-item-content:hover #item-data-container {
    margin-left: -50px;
}*/

app-jam-list-container /deep/ .mat-list-item-content:hover #delete-button {
    margin-right: 0px;
}

#delete-button {
    margin-right: -88px;
    min-width: initial;
    height: 100%;
    background-color: orangered;
    color: white;
    transition: all 0.5s ease-in-out;
}

.selected-item-thumbnail-wrapper {    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
}

.selected-item-thumbnail-wrapper img {
    height: 160px;
    object-fit: cover;
}

.selected-item-price-units {
    display: flex;
    justify-content: space-between;
}

.selected-item-price {
    font-size: 1.5em;
}

.selected-item-units {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 3em;
}

#container form {
    transition: all 0.5s ease-in-out;
}

#container form md-card {
    position: relative;
    width: 300px;
    min-height: 350px; max-height: 400px;
    background-color: cornflowerblue;
    box-shadow: none;
}

#container form md-card md-card-header {
    justify-content: space-between;
}

#container form md-card md-card-content {
    padding: 0px 20px;
}

#container form md-card md-card-footer {
    display: flex;
}

#container form md-card md-card-footer .save-button {
    flex-grow: 1;
}

#container form md-card md-card-footer button {    
    background-color: rgba(0, 0, 0, 0.1);
}