<div id="container" class="flex-center-center">
	<app-jam-list-container class="floating-box stretch-with-max" (search)="search($event.value)">
		<div list>
			<md-nav-list class="scrollable">
				<md-list-item *ngFor="let item of inventoryStream | async; let i = index"
				(click)="select(item, i)"
				(add)="console.log('hi')"
				[@listItemAnimation]="listItemState"
				[style.backgroundColor]="i == selectedIndex ? 'lightcoral' : 'transparent'"
				[style.color]="i == selectedIndex ? 'white' : 'black'">
					<md-icon md-list-icon>assignment</md-icon>
					<div class="item-key"> {{ item.$key }} </div>
					<div class="item-units"> {{ item.units }} </div>
					<div class="item-price"> {{ item.price }} </div>
				</md-list-item>
			</md-nav-list>
		</div>
	</app-jam-list-container>
	<form [formGroup]="form" novalidate (ngSubmit)="submitForm()">
		<md-card class="floating-box invert-color">
			<md-card-header>
				<md-card-title> Edit Item </md-card-title>
				<button md-button type="button" (click)="delete()">
					<md-icon> delete </md-icon>
				</button>
			</md-card-header>
			<md-card-content>
				<p><md-input-container>
					<input mdInput placeholder="Id" formControlName="key" (input)="updatePreview('key')">
				</md-input-container></p>
				<p><md-input-container>
					<input mdInput placeholder="Units" type="number" formControlName="units" (input)="updatePreview('units')">
				</md-input-container></p>
				<p><md-input-container>
					<input mdInput placeholder="Price" type="number" formControlName="price" (input)="updatePreview('price')">
				</md-input-container></p>			
			</md-card-content>
			<md-card-footer>
				<button md-button type="submit" class="create-button"> ADD </button>
			</md-card-footer>
		</md-card>
	</form>
</div>