.wrapper {
    height: 100%;
    width: 100%;
}

main {
    height: calc(100% - 160px);
    width: 100%;
}

footer {
    padding: 50px 0px;
    display: flex;
    justify-content: center;    
}

footer nav a {
    float: left;
    background-color: lightslategray;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer nav a /deep/ .mat-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer nav a md-icon {
    color: white !important;
}

footer nav a span {
    color: white !important;
    font-size: 0.7em;
    margin-top: 5px;
    line-height: normal;
}
