<div class="wrapper">
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>    
        <nav>
            <a  md-button
                *ngFor="let navigationItem of navigationList"
                [routerLink]="[navigationItem.url]"
                [style.backgroundColor]="navigationItem.selected ? 'black' : 'lightslategray'"
            >
                <md-icon> {{ navigationItem.iconName }} </md-icon>
                <span> {{ navigationItem.title }} </span>
            </a>
        </nav>    
    </footer>
</div>