.jam-form {
    width: 500px;
    height: calc(100% - 200px);
}

header {
    position: relative;
    padding: 50px 50px;
    border-bottom: 2px solid rgb(223, 226, 232);
}

.jam-form-title {
    color: gray;
    font-size: 2em;    
}

.jam-form-title-container {
    flex-grow: 1;
}

.jam-form-close-button.mat-button {
    position: absolute;
    top: 0px; right: 0px;
    min-width: auto !important;
    padding: 10px;
}

.jam-form-close-button.mat-button-focus-overlay {
    display: none;
}

main {
    padding: 20px 100px;
    min-height: 300px; height: calc(100% - 277px);
}

footer {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    border-top: 2px solid rgb(223, 226, 232);
}


.jam-form-reset-button.mat-button-focus-overlay {
    color: cornflowerblue;
    display: none;
}

