<div class="jam-form-container">
	<form [formGroup]="jamFormGroup" 
		novalidate 
		(ngSubmit)="_save()"
		class="jam-form floating-box">
		<header>
			<div class="jam-form-title-container">
				<div class="jam-form-title"> {{ title }} </div>
				<div class="jam-form-subtitle"> {{ subtitle }} </div>
			</div>
		</header>
		<main class="jam-form-template-container scrollable">			
			<div *ngFor="let formElement of activeFormElements">
				<md-input-container>
					<input mdInput 
						[type]="formElement.type" 
						[placeholder]="formElement.placeHolder"
						[formControlName]="formElement.formControlName" />
				</md-input-container>
			</div>			
		</main>
		<footer>
			<div class="footer-left">
				<button md-button 
					type="button" 
					class="jam-form-reset-button no-animation" 
					(click)="_reset()"> RESET 
				</button>
			</div>
			<button md-button 
				type="button" 
				class="jam-form-cancel-button no-animation" 
				(click)="_cancel()"> CANCEL 
			</button>
			<button md-raised-button 
				color="primary"
				type="submit"
				class="jam-form-save-button"> SAVE 
			</button>
		</footer>
	</form>
</div>