.jam-form-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.jam-form {
    min-width: 500px;
    height: 100%;
}

.jam-form > header {
    position: relative;
    padding: 50px 50px;
    border-bottom: 2px solid rgb(223, 226, 232);
}

.jam-form-title-container {
    flex-grow: 1;
}

.jam-form-title {
    color: gray;
    font-size: 2em;    
}

.jam-form > main {
    padding: 50px 100px;
    height: calc(100% - 337px);    
}

.jam-form-element-list {
    height: 100%;
}

.jam-form-element > section {
    padding-top: 20px;
    padding-right: 50px;
}

.jam-form-element:first-child > section {
    padding-top: 0px;
}

.jam-form-dropdown-element {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    min-width: 150px; 
}

.jam-form-photo-uploader-element {
    padding-bottom: 50px;
    width: 200px;
    height: 200px;
}

.jam-form > footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    border-top: 2px solid rgb(223, 226, 232);
}

.jam-form > footer > .left {
    flex-grow: 1;
}
