<form class="department-form" [formGroup]="departmentForm" novalidate (ngSubmit)="submitForm()">
	<md-card>
		<md-card-header>
			<md-card-title><h4>Edit Department</h4></md-card-title>		
		</md-card-header>
		<md-card-content>
				<div>
					<p><md-input-container><input mdInput placeholder="Name" formControlName="name"></md-input-container></p>
					<p><md-input-container class="long-input-box"><input mdInput placeholder="Id" formControlName="id"></md-input-container></p>
					<p><md-input-container class="long-input-box"><input mdInput placeholder="Path" formControlName="path"></md-input-container></p>
					<p><md-select class="parent-department-list long-input-box" placeholder="Parent" formControlName="parent">
						<md-option *ngFor="let department of departmentStream | async" [value]="department.id">{{ department.path }}</md-option>
					</md-select></p>
				</div>
		</md-card-content>
		<md-card-actions align="end">
			<button class="remove-department-button" type="button" md-button color="warn" (click)="removeDepartment()" [disabled]="routeId == 'null'"><md-icon>delete</md-icon></button>
			<button class="update-department-button" type="submit" md-raised-button>{{ routeId == 'null' ? 'CREATE' : 'UPDATE' }}</button>
		</md-card-actions>
	</md-card>
</form>
