<main class="container floating-box">	
	<jam-list class="stretch-with-max"
		[stream]="addressStream"
		iconName="location_on"
		newItemUrl="new/edit"
		selectItemUrl="user/addresses/:key">
		<template let-item="item" let-index="index" let-hoveredIndex="hoveredIndex" let-selectedIndex="selectedIndex">
			<div class="template-container">
				<div class="item-street"> {{ item.streetAddress }} </div>
				<div class="item-city"> {{ item.city }} - {{ item.pincode }} </div>
				<div class="item-state"> {{ item.state }}, {{ item.country }} </div>
				<div class="item-phone"> Phone - {{ item.phone }} </div>				
			</div>
		</template>
	</jam-list>
</main>