<div class="grid">

	<md-card>

		<md-card-header>
			<md-card-title>
				<p>TONGA</p>
			</md-card-title>
		</md-card-header>

		<md-card-content>
			<div class="thumbnail"
			style="background-image: url('assets/img/product-1.jpg');"></div>
		</md-card-content>

		<md-card-footer>			
			<md-card-actions>
				<span class="price">299/-</span>				
				<span class="buy">
					<button md-button>BUY</button>
				</span>
			</md-card-actions>
		</md-card-footer>

	</md-card>

<!--
	<div class="box">
		<header>
			<h2>VVOGUISH</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/3846508/3397425_1-product.jpg?1482168386');"></div>
		</main>
		<footer>
			<p>Rs. 480</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>VVOGUISH</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/1718228/3480003_1-product.jpg?1482168776');"></div>
		</main>
		<footer>
			<p>Rs. 320</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>LADY STARK</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/78173121/womens-multicolored-chevron-print-cut-out-shoulder--product.jpg?1478080260');"></div>
		</main>
		<footer>
			<p>Rs. 580</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>MAYRA</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/19621141/6141717_1-product.jpg?1485580759');"></div>
		</main>
		<footer>
			<p>Rs. 900</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>MAYRA</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/28794141/6158851_1-product.jpg?1485580807');"></div>
		</main>
		<footer>
			<p>Rs. 220</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>TONGA</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('assets/img/product-1.jpg');"></div>
		</main>
		<footer>
			<p>Rs. 299</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>VVOGUISH</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/3846508/3397425_1-product.jpg?1482168386');"></div>
		</main>
		<footer>
			<p>Rs. 480</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>VVOGUISH</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/1718228/3480003_1-product.jpg?1482168776');"></div>
		</main>
		<footer>
			<p>Rs. 320</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>LADY STARK</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/78173121/womens-multicolored-chevron-print-cut-out-shoulder--product.jpg?1478080260');"></div>
		</main>
		<footer>
			<p>Rs. 580</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>MAYRA</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/19621141/6141717_1-product.jpg?1485580759');"></div>
		</main>
		<footer>
			<p>Rs. 900</p>
		</footer>
	</div>
	<div class="box">
		<header>
			<h2>MAYRA</h2>
		</header>
		<main>
			<div class="thumbnail"
			style="background-image: url('https://images.voonik.com/28794141/6158851_1-product.jpg?1485580807');"></div>
		</main>
		<footer>
			<p>Rs. 220</p>
		</footer>
	</div>
</div>

-->