.grid {
    padding: 50px;
    /*margin-top: 10px;
    margin-left: 100px;*/
}

.grid > md-card { 
    float: left; 
    margin-top: 3px;
    margin-left: 3px;
    padding: 20px;
    width: 200px;
    height: 300px;	
	background: rgba(255, 255, 255, 1);
	border-radius: 3px;   
	box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.grid > md-card > md-card-header {
    margin: 0px;
}

.grid > md-card > md-card-content .thumbnail {    
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid > md-card > md-card-footer {
    bottom: 10px;
    font-size: 12px;
}

.grid > md-card > md-card-footer > md-card-actions {
    display: flex;
    margin: 0px;
}

.grid > md-card > md-card-footer > md-card-actions .price {
    flex: 2 0 0;
    padding-left: 30px;
    margin-top: -2px;
    color: rgb(100, 100, 100);
    font-size: 16px;
}

.grid > md-card > md-card-footer > md-card-actions .buy {
    flex: 1 0 0;
}

.grid > md-card > md-card-footer > md-card-actions button {
    font-size: 10px;
    line-height: 20px;
    background-color: rgb(222, 202, 10);
    padding: 0px 10px;
    min-width: auto;
}