header {
    padding: 22px;
    display: flex;
}

.home {
    flex-grow: 1;
}

main {
    width: 100%;
    height: calc(100% - 192px);
    box-sizing: border-box;
}

footer {
    padding: 22px;
    display: flex;
}

.placeholder {
    flex-grow: 1;
}

md-icon {
    color: white;
}