main {
    display: flex;
}

.product-list {
    min-width: 200px;
    background-color: white;
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

.product-list > header {
    position: relative;
    padding: 5px 20px;
}

.product-list > header > h3 {
    font-size: 0.9em;
    color: gray;
}

.product-list > header > a {
    position: absolute;
    right: 16px;
    bottom: -16px;
    color: white;
}

.product-list md-nav-list {
    height: 300px;
    overflow-y: scroll;
}

.product-list /deep/ .mat-list-item-content {
    height: 62px;
}

.product-list md-list-item h4 {
    padding-bottom: 5px;
    font-size: 0.9em;
    color: lightseagreen;
}

.product-list md-list-item p {
    font-size: 0.7em;
    font-style: italic;
    color: gray;
}

.product-edit {
    flex-grow: 1;
    margin-left: 20px;
}