/* .picture {
    margin-left: -6px;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
} */

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-box {
    width: calc(100% - 200px);
    height: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
}

.picture-preview-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.info-box {
    height: 100%;
    flex-grow: 1;
}

.info-box > header {
    padding: 30px;
    height: 50px;
    /* border-bottom: 2px solid rgb(223, 226, 232); */
}

.name {
    font-size: 1.1em;    
}

.price {
    display: none;
    padding: 10px 20px; 
    background-color: darkblue;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
}

.brand {
    padding-bottom: 7px;
}

.brand span {
    background-color: darkmagenta;
    color: white;
    border-radius: 3px;
    padding: 2px 5PX;
    font-size: 0.75em;
}

.info-box > main {
    height: calc(100% - 190px);
    background: rgba(0, 0, 0, 0.05);
}

.counts {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px 100px;
}

.count {    
    font-size: 1.5em;
}

.info-box > footer {
    padding: 20px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-to-cart-button {
    padding: 2px 10px;
    border-radius: 3px;
    background-color: #e40046;
    color: white;
}