<main class="container">
	<!-- <md-grid-list class="picture-grid floating-box" cols="7" rowHeight="40px">
		<md-grid-tile colspan="4" rowspan="10"><img class="picture" src="{{ product?.picture.frontView }}" alt="{{ product ? product.name +  ' - front view' : 'loading' }}"></md-grid-tile>
		<md-grid-tile colspan="2" rowspan="6"><img class="picture" src="{{ product?.picture.frontView }}" alt="{{ product ? product.name +  ' - front view' : 'loading' }}"></md-grid-tile>
		<md-grid-tile colspan="1" rowspan="6"><img class="picture" src="{{ product?.picture.frontView }}" alt="{{ product ? product.name +  ' - front view' : 'loading' }}"></md-grid-tile>
		<md-grid-tile colspan="3" rowspan="4"><img class="picture" src="{{ product?.picture.frontView }}" alt="{{ product ? product.name +  ' - front view' : 'loading' }}"></md-grid-tile>
		<md-grid-tile colspan="5" rowspan="2"><img class="picture" src="{{ product?.picture.frontView }}" alt="{{ product ? product.name +  ' - front view' : 'loading' }}"></md-grid-tile>
		<md-grid-tile colspan="2" rowspan="2"><img class="picture" src="{{ product?.picture.frontView }}" alt="{{ product ? product.name +  ' - front view' : 'loading' }}"></md-grid-tile>
	</md-grid-list> -->
	<div class="product-info floating-box">
		<header>
			<div  *ngIf="product">
				<div class="name"> {{ product?.name }} </div>
				<div class="rating"> Rating: {{ product?.review.rating }} </div>
				<div class="flex-end">
					<div class="price"> ₹ {{ product?.price }} </div>
				</div>
			</div>
		</header>
		<div class="counts">
			<div class="orders">
				<div class="count"> 40 </div>
				<div class="text"> orders </div>
			</div>
			<div class="orders">
				<div class="count"> 523 </div>
				<div class="text"> points </div>
			</div>
			<div class="orders">
				<div class="count"> 4 </div>
				<div class="text"> stars </div>
			</div>
		</div>
		<div *ngIf="false" class="last-visited"> Last visited: July 12,2017 </div>
	</div>
</main>