<header>
	<h3>Product</h3>		
</header>
<main>
	<div class="product-list">
		<header>
			<h3 md-subheader>Product List</h3>
			<a [routerLink]="['/admin/inventory/product/null']" md-mini-fab color="accent">
				<md-icon>add</md-icon>
			</a>
		</header>
		<md-divider></md-divider>		
		<md-nav-list>
			<md-list-item *ngFor="let product of productStream | async" [routerLink]="['/admin/inventory/product/' + product.id]">
				<h4 md-line>{{ product.name }}</h4>
				<p md-line>{{ product.units }} remaining</p>
				<p md-line>{{ product.price }}</p>
			</md-list-item>
		</md-nav-list>
	</div>
	<div class="product-edit">
		<router-outlet></router-outlet>		
	</div>
</main>

