<main class="container floating-box">	
	<div class="photo-preference-container">
		<div class="photo-container">
			<img class="photo" src="https://pbs.twimg.com/profile_images/884649985396023296/nGKxHU38_400x400.jpg" alt="photo unavailable">
		</div>
		<div class="edit-preference-container">
			<div class="edit-button-container"><button class="edit-button" md-button><md-icon>edit</md-icon></button></div>
			<div class="preference-container">
				<div> Female </div>
				<div> Brown tone </div>
				<div> s size figure </div>
			</div>
		</div>
	</div>
	<div class="name-container">
		<div class="name"> Susaritha </div>
		<div> Gold customer </div>
	</div>
	<div class="counts">
		<div class="orders">
			<div class="count"> 40 </div>
			<div class="text"> orders </div>
		</div>
		<div class="orders">
			<div class="count"> 523 </div>
			<div class="text"> points </div>
		</div>
		<div class="orders">
			<div class="count"> 4 </div>
			<div class="text"> stars </div>
		</div>
	</div>
	<div *ngIf="false" class="last-visited"> Last visited: July 12,2017 </div>
</main>