.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.checkout-box {
    width: calc(100% - 300px);
    height: calc(100% - 100px);
}

.checkout-box > header {
    display: flex;
    background-color: black;
}

.checkout-box > header .title-container {
    padding: 20px 50px;
    width: 130px;
    flex-grow: 1;
    color: white;
}

.checkout-box > header .title-container .title {
    font-size: 2em;    
}

.checkout-box > header .place-order-button-container {
    display: flex;
}

.checkout-box > header .place-order-button {
    width: 200px;
    background-color: #e40046;
    color: white;
}

.checkout-box > main {
    height: calc(100% - 78px);
    display: flex;
    justify-content: space-between;
}

.checkout-box > main > section {
    height: 100%;
    flex-grow: 1;
}

.checkout-box > main > section > header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-box > main > section > main {
    height: calc(100% - 196px);
}

.checkout-box > main > section > main > ul {
    height: calc(100% - 40px);
}

.address, .card {
    padding: 20px;
    width: 300px;
    height: 80px;
}

.show-more-button {
    display: flex;
    justify-content: center;
}

.show-more-button button {
    width: 110px;
}

.coupon {
    padding: 20px;
}

.coupon > header {
    padding-bottom: 4px;
    font-weight: bold;    
}

.coupon > main {
    display: flex;
    align-items: baseline;
}

.coupon-button-container {
    padding-left: 50px;
}

.coupon-button {
    border-radius: 3px;
    background-color: black;
    color: white;
}