md-input-container.ng-invalid.ng-touched /deep/ .mat-input-underline {
    border-color: red;
}

.brand-rating {
    min-width: 174px;    
}

.brand-rating /deep/ .mat-slider-wrapper {
    left: 0px !important;
}

.update-brand-button {
    background-color: rgb(41, 121, 255);
    color: white !important;
}

