@import '~@angular/material/core/theming/prebuilt/nimi-nimi.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/* Generic Styles */

html {
    height: 100%;
}

body {
    
    margin: 0px;
    height: 100%;
    /*padding: 20px 50px;*/

    background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: -webkit-linear-gradient(top, rgba(171,202,254,1) 0%, rgba(218,231,255,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    background: rgb(223, 226, 232);
    background: palevioletred;


    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;

    font-family: Roboto;
}

@keyframes example {
    0% {transform: scale(1); opacity: 0.5;}
    50% {transform: scale(1.1); opacity: 1;}
    100% {transform: scale(1); opacity: 0.5;}
}

.app-loading {
    position: absolute;
    top: 45%;   
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-loading > span {
    color: lightslategray;
    animation-name: example;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;    
}

/* Generic Visual Styles */

::-webkit-scrollbar {
    display: none;
}

.alt-fg-color {
    color: white;
}

.box-shadow-1 {
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.1) !important;
}

.box-shadow-2 {
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.2) !important;
}

.floating-box {
    background-color: rgb(247, 250, 255);
    border-radius: 5px;
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.1) !important;
}

/* Generic Components Styles */

md-card-header {
    margin: 0px;
}

md-card-content {
    margin-bottom: 0px !important;
    padding-left: 20px;   
}

md-nav-list {
    padding-top: 0px !important;
}

.mat-list-icon {    
    color: lightsteelblue;
    padding-right: 50px;
}

.mat-line.title {
    font-size: 0.85em !important;
    font-weight: bold !important;
    color: #444 !important;
}

.mat-line.description {
    font-size: 0.65em !important;
    font-style: italic !important;
    color: gray !important;
}

.purple-accent {
    color: white;
    background-color: #6200EA;
}

.invert-color /deep/ .mat-input-placeholder {
    color: rgb(240, 240, 240);
}

.invert-color /deep/ .mat-input-underline {
    border-color: white;
}

.invert-color {
    color: white !important;
}

.stretch {
    width: 100%;
}

.stretch-with-min-max {
    min-width: 700px; width: 100%; max-width: 1600px;
}

.stretch-with-min {
    min-width: 700px; width: 100%;
}

.stretch-with-max {
    width: 100%; max-width: 1600px;
}

/* Generic Layout Styles */

.long-input-box {
    width: 300px !important;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-hcenter {
    display: flex;
    justify-content: center;
}

.flex-vcenter {
    display: flex;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.horizontal.scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.dialog {
    z-index: 999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.no-animation.mat-button {
    color: cornflowerblue;
}

.no-animation /deep/ .mat-button-focus-overlay {    
    display: none;
}

.compact.mat-button {
    min-width: auto !important;
    padding: 10px;
}

.no-focus /deep/ .mat-button-focus-overlay {
    display: none;
}

ul.plain {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
    cursor: default;
}

li.plain {
    list-style: none;
}

ul.horizontal {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

ul.horizontal li {    
    margin-left: 40px;
    flex: 0 0 auto;
}

ul.horizontal li:first-child {
    margin-left: 0px !important;
}

ul.floating {
    padding: 30px;
}

ul.floating > li {
    background-color: rgb(247, 250, 255);
    border-radius: 5px;
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.1) !important;
}

ul.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

ul.vertical li {
    margin-top: 40px;
}

ul.vertical li:first-child {
    margin-top: 0px !important;
}
