@import '~@angular/material/core/theming/prebuilt/nimi-nimi.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

/* Generic Styles */

body {
    
    margin: 0px;
    padding: 20px 50px;

    /*background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
    background: -webkit-linear-gradient(top, rgba(171,202,254,1) 0%, rgba(218,231,255,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);*/
    background-color: rgb(223, 226, 232);


    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;

    font-family: Roboto;
}

@keyframes example {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.app-loading {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-loading > span {
    color: lightslategray;
    animation-name: example;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;    
}

/* Generic Visual Styles */

.alt-fg-color {
    color: white;
}

.box-shadow-1 {
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.1) !important;
}

.box-shadow-2 {
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.2) !important;
}

/* Generic Components Styles */

md-card {
	background-color: white;
	border-radius: 2px !important;
	box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.1);
}

md-nav-list {
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.1) !important;
}

button {
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.2) !important;
}

md-card-header {
    margin: 0px;
}

md-card-content {
    margin-bottom: 0px !important;
    padding-left: 20px;   
}

.md-nav-list-container {
    width: 250px;
    background-color: rgb(247, 250, 255);
    border-radius: 3px;
    box-shadow: 6px 6px 80px 0px rgba(0, 0, 0, 0.1) !important;
}

.md-nav-list-container.center {
    text-align: center;
}

.md-nav-list-container > header {    
    display: flex;
    height: 70px;
    padding: 0px 30px;
}

.md-nav-list-container > header > .search-box {    
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.md-nav-list-container > header > .search-box md-icon {
    color: lightgray;
    padding: 4px;
}

.md-nav-list-container > header > .search-box input {    
    width: 100%;
    border: none;
    outline: none;
    color: skyblue;
    font-size: 1.2em;
}

.md-nav-list-container > header > .search-box input::-webkit-input-placeholder {
    color: lightgray;
}

.md-nav-list-container > md-nav-list {
    padding-top: 0px !important;
    height: 300px;
    box-shadow: none !important;
}

.md-nav-list-container > md-nav-list.scrollable {
    overflow-y: scroll;
}

.md-nav-list-container .mat-list-item-content {
    box-sizing: initial !important;    
    padding: 0px 30px !important;
    height: 50px !important;
}

.md-nav-list-container > md-nav-list md-list-item .mat-list-icon {    
    color: lightsteelblue;
}

.mat-line.title {
    font-size: 0.85em !important;
    font-weight: bold !important;
    color: black !important;
}

.mat-line.description {
    font-size: 0.65em !important;
    font-style: italic !important;
    color: gray !important;
}

.md-nav-list-container > md-nav-list.horizontal {
    width: auto;
}

.md-nav-list-container > md-nav-list.horizontal md-list-item {
    display: inline-block;
}

/* Generic Layout Styles */

.flex-vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.long-input-box {
    width: 300px !important;
}
