<div class="wrapper">

    <header>

        <section class="home menu">
            <a md-fab [routerLink]="['/']">
                <md-icon> device_hub </md-icon>
            </a>
        </section>

        <section class="user menu">
            <a md-fab [routerLink]="['/user']">
                <md-icon> account_circle </md-icon>
            </a>
        </section>

    </header>

    <main>
        <router-outlet>            
        </router-outlet>
    </main>

    <footer>

        <section class="placeholder">
        </section>

        <section class="cart menu">
            <a md-fab [routerLink]="['/cart']">
                <md-icon> shopping_cart </md-icon>
            </a>
        </section>
        
    </footer>

</div>