#container {
    height: 100%;
}

header {
    height: 70px;
    padding: 0px 30px;
}

header > .search-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > .search-box md-icon {
    color: lightgray;
    padding: 4px;
}

header > .search-box input {    
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: rgb(247, 250, 255);
    color: skyblue;
    font-size: 1.2em;
}

header > .search-box input::-webkit-input-placeholder {
    color: lightgray;
}

main {
    height: calc(100% - 120px);
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

footer button {
    color: cornflowerblue;    
}