.jam-list-item-container {
    z-index: 999998 !important;
}

.jam-list-item {
    width: 500px;
    height: calc(100% - 200px);
}

header {
    position: relative;
    padding: 30px 50px 30px 10px;
    display: flex;
    border-bottom: 2px solid rgb(223, 226, 232);
}

.jam-list-item-back-button {
    color: black;
}

.jam-list-item-title-container {
    padding-left: 20px;    
    flex-grow: 1;
}

.jam-list-item-title {
    color: gray;
    font-size: 2em;    
}

.header-buttons-container {
    float: left;
}

main {
    padding: 20px 70px;
    min-height: 300px; height: calc(100% - 277px);
}

