.jam-list-item-container {
    z-index: 999998 !important;
}

.jam-list-item {
    width: 500px;
    height: calc(100% - 200px);
}

header {
    position: relative;
    padding: 50px 50px;
    display: flex;
    border-bottom: 2px solid rgb(223, 226, 232);
}

.jam-list-item-title {
    color: gray;
    font-size: 2em;    
}

.jam-list-item-title-container {
    flex-grow: 1;
}

.header-buttons-container {
    float: left;
}

.compact.mat-button {
    min-width: auto !important;
    padding: 10px;
}

.jam-list-item-close-button {
    position: absolute;
    top: 0px; right: 0px;
}

.no-focus /deep/ .mat-button-focus-overlay {
    display: none;
}

main {
    padding: 20px 100px;
    min-height: 300px; height: calc(100% - 277px);
}

