.jam-list-container {
    min-width: 500px;
    height: 100%;    
}

header {
    height: 70px;
    padding: 0px 30px;
    border-bottom: 1px solid rgb(193, 196, 202);
}

.jam-list-search-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.jam-list-search-icon {
    color: lightgray;
    padding: 4px;
}

.jam-list-search-box {    
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: rgb(247, 250, 255);
    color: skyblue;
    font-size: 1.2em;
}

.jam-list-search-box::-webkit-input-placeholder {
    color: lightgray;
}

main {
    height: calc(100% - 120px);
    /* background-color: rgb(193, 196, 202); */
    background-color: rgb(247, 250, 255);
}

ul {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

li {
    list-style: none;
    background-color: rgb(247, 250, 255);
    transition: all 0.4s ease-out;
}

.jam-list-item-container {
    display: flex;
}

.jam-list-item-icon {
    padding: 30px 30px 4px 30px;
    color: lightsteelblue;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.jam-list-item-data-container {
    padding: 30px;
    padding-left: 0px;
    flex-grow: 1;
    font-size: 0.8em;
}

.jam-list-item-delete-button {
    background-color: red;
    transition: all 0.3s ease-in;
}

footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    border-top: 1px solid rgb(193, 196, 202);
}

footer button {
    color: cornflowerblue;
}

footer button /deep/ .mat-button-focus-overlay {
    display: none;
}