<div class="jam-list-container">
	<header>
		<div class="jam-list-search-container">
			<md-icon class="jam-list-search-icon" md-prefix> search </md-icon>
			<input class="jam-list-search-box" placeholder="Search" (input)="_search($event.target.value)">
		</div>
	</header>
	<main class="scrollable">
		<ul>
			<li *ngFor="let item of stream | async; let i = index"
				(click)="_select(item, i); $event.stopImmediatePropagation();"
				[@listItemAnimation]="listItemState"
				[style.backgroundColor]="i == selectedIndex ? 'cornflowerblue' : 'transparent'"
				[style.color]="i == selectedIndex ? 'white' : 'black'"
			>
				<div class="jam-list-item-container">
					<md-icon class="jam-list-item-icon"> {{ iconName }} </md-icon>
					<section class="jam-list-item-data-container">
						<template [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{ item: item }"></template>
					</section>
					<button md-button class="jam-list-item-delete-button"
							(click)="_delete(item); $event.stopImmediatePropagation();"
					>
						<md-icon> delete </md-icon>
					</button>
				</div>
			</li>
		</ul>
	</main>
	<footer>
		<button md-button disableRipple (click)="_newItem()"> NEW </button>
	</footer>
</div>