<div class="floating-box jam-list-container" (click)="_deselect()">
	<header>
		<div class="jam-list-search-container">
			<md-icon class="jam-list-search-icon" md-prefix> search </md-icon>
			<input class="jam-list-search-box" placeholder="Search" (input)="_search($event.target.value)">
		</div>
	</header>
	<main class="scrollable">
		<ul class="plain">
			<li *ngFor="let item of stream | async; let i = index"
				class="jam-list-item plain"
				(click)="_select(item, i); $event.stopImmediatePropagation();"
				(mouseenter)="_hoveredIndex = i"
				(mouseleave)="_hoveredIndex = -1"
				[@listItemAnimation]="listItemState"
				[style.backgroundColor]="i == _selectedIndex ? 'cornflowerblue' : i == _hoveredIndex ? 'rgb(227, 230, 235)' : 'rgb(247, 250, 255)'"
				[style.color]="i == _selectedIndex ? 'white' : 'black'"
				[style.paddingTop]="i == _selectedIndex || i == _hoveredIndex ? '10px' : '0px'"
				[style.paddingBottom]="i == _selectedIndex || i == _hoveredIndex ? '10px' : '0px'">
				<div class="jam-list-item-container">
					<md-icon class="jam-list-item-icon" [style.fontSize]="i == _selectedIndex || i == _hoveredIndex ? '32px' : '20px'"> {{ iconName }} </md-icon>
					<section class="jam-list-item-data-container">
						<template [ngTemplateOutlet]="listItemTemplate" [ngOutletContext]="{ 
							item: item, 
							index: i, 
							hoveredIndex: _hoveredIndex, 
							selectedIndex: _selectedIndex 
						}"></template>
					</section>
				</div>
			</li>
		</ul>		
	</main>
	<footer>
		<a md-button disableRipple *ngIf="!hideNewButton"
			[routerLink]="[newItemUrl]"
			(click)="_newItem(); $event.stopImmediatePropagation();"> NEW </a>
	</footer>
</div>